<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cuentas | HomeBanking</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="bg-two">
<div id="app">
    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <!-- preloader area end -->
    <div class="body-overlay" id="body-overlay"></div>
    <!-- topbar-area start -->
    <div class="topbar-area">
        <div class="container">
            <div class="row">
                <div class="col-md-2 align-self-center">
                    <div class="topbar-left text-md-left text-center">
                        <p><img height=40" src="img/logo-2.png" alt="logo"></p>
                    </div>
                </div>
                <div class="col-md-2 align-self-center">
                    <div class="topbar-left text-md-left text-center">
                        <p>Hola! {{ clientInfo.firstName }} {{ clientInfo.lastName }}</p>
                    </div>
                </div>
                <div class="col-md-2 align-self-center">

                </div>
                <div class="col-md-2 align-self-center">

                </div>
                <div class="col-md-2 text-md-right text-center">
                    <div class="topbar-right">
                        <!--<p><a href="en/index.html"><img src="img/flags/uk.png" width="24"></a></p>
                        <p><a href="fr/index.html"><img src="img/flags/france.png" width="24"></a></p>-->
                    </div>
                </div>
                <div class="col-md-2 align-self-center">
                        <a class="btn btn-danger text-white" v-on:click="signOut"><i class="fa fa-times"></i> <small>Salir</small></a>
                </div>
            </div>
        </div>
    </div>
    <!-- topbar-area end -->

    <!-- navbar start -->
    <div class="navbar-area bg-one">
        <nav class="navbar navbar-area navbar-expand-lg">
            <div class="container nav-container">
                <div class="responsive-mobile-menu">
                    <button class="menu toggle-btn d-block d-lg-none" data-target="#banlank_main_menu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-left"></span>
                        <span class="icon-right"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="banlank_main_menu">
                    <ul class="navbar-nav menu-open">
                        <li class="current-menu-item">
                            <a href="accounts.html">Cuentas</a>
                        </li>
                        <li><a href="cards.html">Tarjetas</a></li>
                        <li><a href="transfers.html">Transferir Dinero</a></li>
                        <li><a href="loan-application.html">Prestamos</a></li>
                        <li><a href="payment-loan.html">Pago de Crédito</a></li>
                        <li><a href="inversion-application.html">Inversiones</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- navbar end -->

    <!-- partner area start -->
    <div id="educ" class="partner-area">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row mt-3">
                        <div class="col">
                            <h2 class="display-6 subtitle">Cuentas</h2>
                            <button v-if="clientInfo.accounts != null && clientInfo.accounts.length < 3" v-on:click="create" id="create" class="btn btn-sm btn-success">Crear cuenta</button>
                            <br><br>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-striped">
                            <thead class="thead-light">
                            <th>NUMERO DE CUENTA</th>
                            <th>FECHA DE CREACIÓN</th>
                            <th>SALDO</th>
                            <th>VER CARTOLA</th>
                            </thead>
                            <tbody>
                                <tr v-for="account in clientInfo.accounts">
                                    <td>{{ account.number }}</td>
                                    <td>{{ formatDate(account.creationDate) }}</td>
                                    <td>{{ account.balance }}</td>
                                    <td><a class="btn btn-info" v-bind:href="'account.html?id='+account.id"><i class="fa fa-search "></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col">
                            <h2 class="display-6">Préstamos</h2>
                            <span v-if="clientInfo.loans != null && clientInfo.loans.length <= 0">SIN INFORMACIÓN DE PRÉSTAMOS<br></span>
                            <a  v-if="clientInfo.loans != null && clientInfo.loans.length <= 0" class="btn btn-primary" href="loan-application.html">Solicitar Préstamo</a>
                        </div>
                    </div>
                    <div class="row">
                        <div v-for="loan in clientInfo.loans" class="col-12 col-md-3 mt-2">
                            <a class="account-link" v-bind:href="'clientloans.html?id='+loan.id">
                                <div class="alert alert-primary">
                                    <div>
                                        <h5 class="card-title">{{ loan.loanType }}</h5>
                                        <p class="card-text"> Cuotas: {{ loan.payments}}</p>
                                        <p class="card-text"> Valor Cuota: {{ loan.fee}}</p>
                                        <p class="text-center lead account-balance"> ${{ loan.amount }} </p>
                                        <p class="card-text" v-if="loan.paymentLoanDTOS.length == loan.payments"><img src="img/medalla.png" width="24" data-toggle="tooltip" data-placement="top" title="Credito pagado totalmente"></p>
                                        <p class="card-text" v-else>CUOTAS PAGADAS: {{ loan.paymentLoanDTOS.length }} DE {{ loan.payments }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col">
                            <h2 class="display-6">Inversiones</h2>
                            <span v-if="clientInfo.clientInvestment != null && clientInfo.clientInvestment.length <= 0">SIN INFORMACIÓN DE INVERSIONES<br></span>
                        </div>
                    </div>
                    <div class="row">
                        <div v-for="investment in clientInfo.clientInvestment" class="col-12 col-md-3 mt-2">
                                <div class="alert alert-warning">
                                    <div>
                                        <h5 class="card-title">{{ investment.macroName }}</h5>
                                        <p class="card-text"><small>Fecha Inversión: {{ formatDate(investment.initialDate)}}</small></p>
                                        <p class="card-text"><small>Valor compuesto: {{ investment.compoundAmount}}</small></p>
                                        <p class="card-text"><small>Proyección a 90 días: {{ investment.proyection}}</small></p>
                                        <p class="text-center lead account-balance"> ${{ investment.initialAmount }} </p>
                                        <p v-if="investment.withdrawn == false" class="text-center">
                                            <label for="to-account" class="form-label">A la cuenta</label>
                                            <select id="to-account" v-model="accountToNumber" class="form-control" aria-label="Default select example" required>
                                                <option value="VIN">Seleccione la cuenta</option>
                                                <option v-for="account in clientInfo.accounts" v-bind:value="account.number">{{ account.number }}</option>
                                            </select>
                                            <br>
                                            <button v-on:click="setIdInvestment(investment.id)" class="btn btn-dark">Retirar<br>Inversión</button>
                                        </p>
                                        <p v-else>INVERSIÓN RETIRADA</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br><br>
                    <br><br>
                </div>
            <div v-if="errorMsg != null" class="alert alert-danger">
                <div class="toast-body">
                    {{ errorMsg }}
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- partner area end -->

    <!-- footer area start -->
    <footer class="footer-area-in">
        <div class="container">
            <div class="footer-inner">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="widget widget-address">
                            <a class="widget-title" href="index.html#"><img src="img/logo-2.png" alt="logo"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->

    <!-- back to top area start -->
    <div class="back-to-top">
        <span class="back-top"><i class="fa fa-angle-double-up"></i></span>
    </div>
    <!-- back to top area end -->


</div>
<!-- all plugins here -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/vendor.js"></script>
<!-- main js  -->
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/counter.js"></script>
<script src="js/jquery.waypoints.js"></script>
<script src="js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="js/acccounts.js"></script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/623a7a2c2bd26d087e74387c/1fuq6qfuf';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>

</html>
