<table border="0" align="center" cellspacing="0" cellpadding="0" width="714">
    <tbody>
    <tr style="background-color:#0088E0">
        <td width="79"></td>
        <td><img src="https://i.ibb.co/9p81LHw/logo-2.png" class="CToWUd"></td>
        <td width="79"></td>
    </tr>
    <tr style="background-color:#0088E0" height="70">
        <td></td>
        <td style="font-weight:lighter;font-size:24px;color:#ffffff">Comprobante Transferencia de fondos</td>
        <td></td>
    </tr>
    <tr height="50">
        <td style="background-color:#0088e0"></td>
        <td align="center" style="background-color:#b3c44a;font-family:'Open Sans ',arial,helvetica,sans-serif;font-size:16px;color:#ffffff">
            <img style="vertical-align:middle;padding-right:5px" src="https://i.ibb.co/jyjM4pv/check.png"
                  class="CToWUd">
            Tu transferencia de fondos ha sido realizada con exito.
        </td>
        <td style="background-color:#0088e0"></td>
    </tr>
    <tr>
        <td style="background-color:#0088E0"></td>
        <td>
            <table border="0" width="100%" cellpadding="0" bgcolor="ffffff"
                   class="m_-5777872375165150128margen" id="m_-5777872375165150128Datos">
                <tbody>
                <tr>
                    <td colspan="2"><br>Estimado (a) <b>${fromFirstName}" {{fromLastName}}</b>:<br><br>
                        Te enviamos el detalle de la transferencia realizada con fecha: {{fechaEmail}}<br>&nbsp;
                    </td>
                </tr>
                <tr height="44">
                    <td colspan="2" align="center"
                        style="background-color:#f5f5f5;height:44px;color:#444444;font-weight:lighter;font-size:24px;vertical-align:middle">
                        Monto de Transferencia: ${{amount}}<br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;<p style="border-bottom:1px solid #cccccc; font-size:15px;"><b>ORIGEN</b></p>
                    </td>
                </tr>
                <tr>
                    <td class="m_-5777872375165150128subtitulo"><b>Tipo Cuenta:</b></td>
                    <td class="m_-5777872375165150128subtitulo"><b>Numero de cuenta:</b></td>
                </tr>
                <tr>
                    <td class="m_-5777872375165150128texto">Cuenta Corriente</td>
                    <td class="m_-5777872375165150128texto">{{fromNumberAccount}}</td>
                </tr>
                <tr>
                    <td class="m_-5777872375165150128subtitulo"><b>Nombre:</b></td>
                </tr>
                <tr>
                    <td class="m_-5777872375165150128texto">{{fromFirstName}} {{fromLastName}}</td>
                </tr>
                <tr>
                    <td class="m_-5777872375165150128subtitulo"><b>Comentario:</b></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="m_-5777872375165150128texto">{{description}}</td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;<p style="border-bottom:1px solid #cccccc; font-size:15px;">
                        <b>DESTINO<b></b></b></p></td>
                </tr>
                <tr>
                    <td class="m_-5777872375165150128subtitulo"><b>Banco:</b></td>
                    <td class="m_-5777872375165150128subtitulo"><b>Tipo de cuenta:</b></td>
                </tr>
                <tr>
                    <td class="m_-5777872375165150128texto">Banco <span class="il">HomeBanking</span></td>
                    <td class="m_-5777872375165150128texto">Cuenta Corriente</td>
                </tr>
                <tr>
                    <td class="m_-5777872375165150128subtitulo"><b>Numero de cuenta:</b></td>
                </tr>
                <tr>
                    <td class="m_-5777872375165150128texto">{{toAccountNumber}}</td>
                </tr>
                <tr>
                    <td class="m_-5777872375165150128subtitulo"><b>Nombre:</b></td>
                    <td class="m_-5777872375165150128subtitulo"><b>Mail:</b></td>
                </tr>
                <tr>
                    <td class="m_-5777872375165150128texto">{{toFirstName}} {{toLastName}}</td>
                    <td class="m_-5777872375165150128texto"><a href="mailto:{{toEmail}} target=_blank">
                        {{toEmail}}"</a></td>
                </tr>
                <tr>
                    <td colspan="2"><p>&nbsp;</p>
                        <p>&nbsp;</p></td>
                </tr>
                <tr>
                    <td colspan="2" style="height:61px;font-size:14px;text-align:center;border:1px solid #cccccc">
                        <p style="vertical-align:middle">
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td style="background-color:#0088E0"></td>
    </tr>
    <tr height="108" style="background-color:#f5f5f5">
        <td></td>
        <td align="center" style="font-family:Open Sans,arial,helvetica,sans-serif" font-size="12px;color:#444444">
            Nota: Este e-mail es generado de manera automatica, por favor no respondas a este mensaje.<br><br>
        <td></td>
    </tr>
    </tbody>
</table>